body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}
h1{
    font-size: 50px;
}
.color-orange{
    color: orange;
}
.flex-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 100px;
    margin-bottom: 300px;
}
.half-width img{
    width: 100%;

}
.Here-Me{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    

}
.logo{
    margin-left: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 500px;
    border-radius: 5px;
    color: white;

}
.Dream Big{
    margin-top: 100px;
    
}

.experiences{
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 40px;
    width: 40%;
    border-left: 10px solid red;
    border-image: linear-gradient(rgb(128, 223, 20), orange);
    border-image-slice: 2%;
    
    

}
h3{
    font-size: 40px;
}
#gredient-color{
    border-left: 10px solid;
    border-image: linear-gradient(red, orange);
    border-image-slice: 1%;
    
}
.paragraph{
    margin-top: 200px;
    text-align: center;
}